.app-container {
  background: linear-gradient(150deg, #FFF 0%, #FFF4F4 84.51%);
  width: 23.4375rem;
  height: 50rem;
  margin: 1em auto;
  padding: 1em;
  display: flex;
  border: 2px solid blue;
}

.nav {
  /* align-items: center; */
  /* display: flex; */
}

nav > img {

  align-self: center;
}

.nav > span {
  font-family: 'Karla', Arial, sans-serif;
  margin-left: .5em;
  font-size: 1.25rem;
}