.app-container {
  background: linear-gradient(150deg, #FFF 0%, #fbf4ff 14.51%);
  width: 23.4375rem;
  height: 50rem;
  margin: 10vh auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid white;
}

.nav {
  margin-top: .5em;
}

nav > img {
  align-self: center;
}

.nav > span {
  font-family: 'Karla', Arial, sans-serif;
  margin-left: .25em;
  font-size: 1.5rem;
  background-color: #ADD8E6;
  padding: 1px 8px;
  border-radius: 25px;
  color: #00008B;
}

.hero-img {
  align-self: center;
  margin: 0 auto;
  /* border: 2px solid blue; */
  width: 23.2rem;
  height: 40vh;
  margin-left: -1em;
  display: block;
  overflow: hidden;
  margin: 2em;
}

main > h1 {
  text-align: center;
  font-size: 2.5rem;
  text-align: center;
  /* font-family: Josefin Sans; */
  font-family: 'Times New Roman', 'Karla', Arial, sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.625rem; /* 105% */
  letter-spacing: 0.67656rem;
  color: #212329;
  margin-left: .3em;
}

main h1 > span {
  color: #ff3232;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  margin: 1em;
  margin-right: 1.2em;
  letter-spacing: .4rem;
}

.remove-spacing {
  letter-spacing: normal;
}

main > p {
  margin: 2em auto;
  color: #000000;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem; /* 157.143% */
}

.two-span {
  background-color: rgba(253, 247, 115, 0.918);
  padding: 5px 9px;
  font-size: 1.25em;
  font-weight: 900;
  margin-right: 1em;
}

.question-mark {
  margin-left: -1em;
}

.span-height-adjuster {
  position: relative;
  bottom: .04em;
}

#form {
  text-align: center;
}

#form > label {
  margin-right: 3px;
}

#form > input[type="email"] {
  width: 19.4375rem;
  height: 3rem;
  flex-shrink: 0;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,198,198,0.05) 0%);
  border: solid 1px #423A3A;
  border-radius: 25px;
  padding: 2em 1em;
  font-family: Josefin Sans;
  font-size: 1em;
}

#form > input[type="email"]:focus-visible {
  background-color: rgba(253, 247, 115, 0.1);
  color: #423A3A;
  font-family: Josefin Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  /* line-height: 1.75rem; */

}

.submit-btn {
  border: none;
  border-radius: 9999px;
  font-size: 1.25em;
  padding: 0.5em 1em;
  transition: all .1s ease-out;
  background-color: #b94be8ba;
  position: relative;
  cursor: pointer;
}

.submit-btn:hover {
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.2);
    bottom: 3px !important;
}